.container {
    display: grid;
    border: 2px solid #cd95b5;
    padding: 5px;
}

.element {
    margin: 2px;
    padding: 10px;
    text-align: center;
    background-color: aqua;
}


button {
    display: block;
    margin-top: 10px;
    background-color: #e895bd;
    border: 2px solid #b85c88;
}

.container_one {
    grid-template-columns: repeat(3, 1fr);
}

.container_three {
    grid-template-columns: repeat(3, 1fr);
}